.form-group {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    min-width: 700px;
    label {
        margin-right: 10px;
      }
      
      input {
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }

    .button-submit{
        background-color: #1677ff !important;
    }
  }
  
  