.container-form {
    width: 500px;
    padding: 20px;
    background-color: #fff;


    
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }

        input {
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ddd;  /* Add border to input fields */
            border-radius: 4px;     /* Optional: Add border radius for a rounded look */
        }

        button {
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            border: 1px solid #0056b3; /* Add border to the button */
            border-radius: 4px;       /* Optional: Add border radius for a rounded look */

            &:hover {
                background-color: #0056b3;
            }
        }
    
}